* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #000;
    line-height: 1.6;
}

.logo {
    font-weight: 600;
    font-size: 22px;
}

.logo span {
    color: rgb(145, 0, 0);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: black;
    transition: 0.3s;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: rgb(145, 0, 0);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar ul li a:hover {
    color: rgb(145, 0, 0);
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar ul li a.active {
    color: rgb(145, 0, 0);
    font-weight: 600;
}

.navbar ul li a.active::after {
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1 1 450px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 25px;
}

.hero-img img {
    width: 300px;
    height: auto;
    max-width: 450px;
}

.btn-primary {
    display: inline-block;
    padding: 12px 21px;
    border: 2px solid rgb(145, 0, 0);
    color: rgb(145, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary:hover {
    background: rgb(145, 0, 0);
    color: white;
}

.btn-outline {
    border: 1.5px solid black;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.btn-outline:hover {
    border-color: red;
    color: red;
}

.kategori {
    padding: 80px 8%;
    text-align: center;
}

.grid-buku {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.card {
    border: 1px solid #eee;
    padding: 17px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: rgb(145, 0, 0);
}

.card img {
    height: 320px;
    object-fit: cover;
}


.kontak {
    padding: 100px 8%;
    background: #fafafa;
}

.kontak-wrapper {
    max-width: 1100px;
    margin: auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.kontak-info h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.kontak-info p {
    margin-bottom: 30px;
    color: #555;
}

.info-item {
    margin-bottom: 20px;
}

.info-item strong {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.info-item span {
    color: #333;
}

.detail-container {
    display: flex;
    gap: 50px;
    padding: 80px 8%;
    flex-wrap: wrap;
}

.detail-info {
    flex: 1;
}

.detail-info h1 {
    margin-bottom: 10px;
}

.large-btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
}

.terdidik {
    height: 350px;
}

.penjara {
    height: 350px;
}

.tomorrow {
    height: 350px;
}

.ikigai {
    height: 350px;
}

.detail1,
.detail2,
.detail3,
.detail3,
.detail4 {
    width: 270px;
    height: auto;
}

.logo_kontak {
    font-weight: 600;
    position: relative;
    font-size: 55px;
    margin-left: 150px;
    top: 125px;
}

.logo_kontak span {
    color: rgb(145, 0, 0);
}

/* RESPONSIVE WEBSITE */

@media (max-width: 768px) {
    .kontak-wrapper {
        grid-template-columns: 1fr;
        padding: 35px 25px;
        gap: 40px;
    }

    .kontak-info {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .detail-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .navbar {
        padding: 15px 6%;
    }

    .burger {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
        border-bottom: 1px solid #eee;
        transform: translateY(-150%);
        transition: 0.4s ease;
    }

    #menu-toggle:checked~.nav-menu {
        transform: translateY(0);
    }

    .navbar ul li a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 60px 6%;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-img img {
        width: 80%;
        max-width: 300px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .logo_kontak {
        margin: 0;
        top: 0;
        text-align: center;
        font-size: 42px;
    }
}